* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 54px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 28px;
}

p {
  font-size: 18px;
  font-weight: 300;
}
button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
